<div id="wrapper_register">
  <div id="register_box">
      <%= form_tag('create', remote: true, method: "post", id: "register_form") do %>
        <p>
          <%= label_tag(:username, "username:") %> <br>
            <%= text_field_tag(:username) %><span id="user_error" style="font-size: 10px;"></span>
        </p>
      <p>
        <%= label_tag(:password, "password:") %> <br>
        <%= password_field_tag(:password) %><span id="password_error" style="font-size: 10px;"></span>
      </p>
      <p>
        <%= label_tag(:password_check, "verify password:") %> <br>
        <%= password_field_tag(:password_check) %><span id="password_check_error" style="font-size: 10px;">
        </span>
      </p>
      <p>
        <%= label_tag(:email, "e-mail:") %><br>
        <%= text_field_tag(:email) %><span id="email_error" style="font-size: 10px;"></span>
      </p>
      <p>
        <%= label_tag(:email_check, "verify e-mail:") %><br>
        <%= text_field_tag(:email_check) %><span id="email_check_error" style="font-size: 10px;"></span>
      </p>
      <%= submit_tag("Register") %>
      <p style="color: red;">
        <%= @error %>
      </p>
    <% end %>
  </div>
  <div id="info_box">
    <h2> Registration Guide </h2>
    <ol>
      <li>Username must be between 3 and 20 characters, can only include letters(a-z), numbers and underscores (_). </li>
      <li>Password must be between 6 and 30 characters.</li>
      <li>Enter an email with a valid form (ex:something@yourmom.com).</li>
      <li>Press The Red Button. </li>
      <li>Poof, you're registered. </li>
    </ol>
  </div>
  <div style="clear: both;"></div>
</div>

